{% include 'header.twig' %}

<!-- MAIN SLIDER -->
<section id="main-slider" class="fixed-height">      	

    <!-- MAIN SLIDER IMAGES -->            
    <div class="slides">
        <!-- SLIDE IMAGE -->
        <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(images/bandeau/kdo1.jpg);">
        </div>

        <div class="slide-overlay"> </div>    
    </div>	<!-- END of MAIN SLIDER IMAGES -->

</section><!-- ENF of MAIN SLIDER -->

<!--CONTENT SECTION-->
<section id="heading">
	
	<!-- HEADING TITLE -->
	<div class="row">
		<div class="col-md-offset-3 col-md-6 text-center">
	
			<div class="page-title">
				<h1>HEADING 1</h1>
									   
				<div class="heart-divider">
					<span class="grey-line"></span>
					<i class="de-icon-heart pink-heart"></i>
					<i class="de-icon-heart grey-heart"></i>
					<span class="grey-line"></span>
				</div>
			</div>
		
		</div>
	</div><!-- END of HEADING TITLE -->

	<!-- HEADING -->
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<h2>HEADING 2</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce urna urna, imperdiet et purus ut, ultricies sollicitudin arcu. Cras placerat, arcu non faucibus suscipit, ex arcu consectetur enim, eu malesuada magna turpis sit amet mauris. Nullam nec leo at lorem interdum commodo. Etiam mollis massa in mauris lacinia porta.</p>
			<p>Pellentesque tristique, ante nec dictum mollis, felis ligula ullamcorper velit, ac auctor est ipsum vehicula ex. Donec eu blandit est, id gravida justo. Maecenas laoreet laoreet congue. Cras sit amet vestibulum ligula. Ut nec erat tristique, iaculis purus ac, pellentesque mi. Donec ac cursus est. Nunc id varius enim, ut tincidunt mi. Integer non est eros. Aliquam ex</p>
			<p>Etiam euismod imperdiet diam eget dapibus. Nullam ut eros non quam euismod lacinia. Donec id hendrerit dolor. Pellentesque fermentum ex odio. </p>
		</div>
	</div><!-- END of HEADING --> 
	
</section> <!--END of CONTENT SECTION--> 

<!-- FOOTER SECTION -->
<footer>
    <div class="image-divider fixed-height" style="background-image:url(images/bandeau/kdo2.jpg); height:400px" data-stellar-background-ratio="0.5" >

        <div class="divider-overlay"></div>

        <!-- Use Center Middle Alignment to align middle the content for fixed-height parallax -->
        <div class="alignment"> 
            <div class="v-align center-middle">                  	

                <!-- HEART DIVIDER & COUPLE NAME -->
                <div class="container">                 	 
                    <div class="row">
                        <div class="col-md-12">

                            <div class="heart-divider animation delay1 fadeInUp">
                                <span class="white-line"></span>
                                <i class="de-icon-heart pink-heart"></i>
                                <i class="de-icon-heart white-heart"></i>
                                <span class="white-line"></span>
                            </div>

                            <div id="footer-couple-name" class="animation delay1 fadeInUp">
                                Géraldine & Geoffroy
                            </div>

                        </div>
                    </div>
                </div><!-- END of HEART DIVIDER & COUPLE NAME -->

            </div>
        </div><!-- END of Center Middle Alignment -->

    </div>
</footer><!-- END of FOOTER SECTION -->

{% include 'footer.twig' %}