<!DOCTYPE html>
<html  lang="en">
	<head>
		<meta charset="utf-8">
     	<meta content="width=device-width, initial-scale=1.0" name="viewport">
     	<meta name="description" content="">
      	<meta name="author" content="Plandal">
      	<title>Geraldine &amp; Joe</title>
        
        <link rel="icon" href="favicon/panda.jpg">
        <!-- Bootstrap -->
    	<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" type="text/css" media="screen" />
        <!-- Pace -->
        <link rel="stylesheet" href="css/preloader.css"  media="screen">
        <link rel="stylesheet" href="css/preloader-default.css"  media="screen">
        <!-- Flexslider -->
        <link rel="stylesheet" href="css/flexslider/flexslider.css" type="text/css">
        <!-- Animate -->
        <link rel="stylesheet" href="css/animate/animate.css" type="text/css">       
        <!-- Countdown -->
        <link rel="stylesheet" href="css/countdown/jquery.countdown.css" type="text/css">
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="css/magnific-popup/magnific-popup.css" type="text/css">
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="css/owlcarousel/owl.carousel.css" type="text/css">
        <link rel="stylesheet" href="css/owlcarousel/owl.theme.css" type="text/css">
        <!-- Icon -->
        <link rel="stylesheet" href="css/fonts/fontello/css/fontello.css" type="text/css" media="screen" />
		<!-- sweetalert -->
        <link rel="stylesheet" href="css/sweetalert.css" type="text/css" media="screen" />
        <!-- Font -->
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
     	<!-- Slidebars -->
        <link rel="stylesheet" href="css/slidebars/slidebars.css" type="text/css" media="screen" />
        
        <!-- Theme CSS -->
    	<link href="css/style.css" rel="stylesheet" media="screen">
        
        <!-- Skin CSS -->
    	<!-- <link href="css/skin/light-teal/light-teal.css" rel="stylesheet" media="screen"> -->
        <!-- <link href="css/skin/light-teal/light-teal-reverse-navbar.css" rel="stylesheet" media="screen">  -->
        <!-- <link href="css/skin/pattern/pattern-1.css" rel="stylesheet" media="screen"> -->
        
       
        <!-- jQuery -->
    	<script src="js/jquery-1.11.1.min.js"></script>
       
	</head>

	<body class="slider-title-page" >
    	<!--PRELOADER-->
        <div id="preloader">
        
        	<div class="alignment">
            	<div class="v-align center-middle"> 
            		
                    <!-- LEFT HEART -->
            		<div class="heart-animation">                	
            			<i class="de-icon-heart"></i>
               	 	</div>
                
                	<!-- RIGHT HEART -->
                	<div class="heart-animation-reverse">
            			<i class="de-icon-heart"></i>
                	</div>     
                     
                </div>
            </div>
            
        </div> <!--END of PRELOADER-->
        

        
        <!-- SIDE NAVBAR -->
    	<nav class="sb-slidebar sb-left sb-style-push">
		
			<div id="side-navbar-header">
            
            	<div id="logo-inner-wrapper">
        			<!-- LOGO -->
            		<div class="logo-wrapper">
                		<!-- CSS LOGO --> 
                        <a href="index.html">
                    		<div class="css-logo rounded">
                   				<div class="css-logo-text">
                        			<strong>G</strong><i class="de-icon-heart-1"></i><strong>G</strong>
                    			</div>
                    		</div>
                        </a>
                    
                    	<!-- IMG LOGO 
                        <a href="index.html">
                    		<div class="img-logo">
                    			<img src="images/slide1.jpg">
                    		</div>
                        </a>
                        -->
                	</div>
                	<!-- END of LOGO -->
            	</div>
                
        		<div id="close-inner-wrapper">
        			<a href="#" id="close-button"><i class="de-icon-cancel-2"></i></a>
            	</div>
                
        	</div>
        
        	<ul id="side-nav-menu">
        		<li>
          			<a href="index">Accueil</a>
         		</li>
         		<li>
             		<a href="maries">Mariés</a>
              	</li>
            	<li>
            		<a href="temoins">Témoins</a>
           		</li>
				<li>
            		<a href="voyage">Liste de mariage</a>
           		</li>
             	<li>
               		<a href="lieu">Lieu du mariage</a>
         		</li>
            	<li>
            		<a href="contact">Contacts</a>
               	</li>
				<li>
            		<a href="galerie">Galerie</a>
               	</li>
         	</ul>
         
		</nav> <!-- END of SIDE NAVBAR -->
        
        
    
    <!-- SLIDEBAR CONTENT WRAPPER -->
	<div id="sb-site">
      
        <header>
        	<nav id="menuicon-bar" class="fluid-width menuicon-left">
            	
                <!-- LOGO -->
                <div class="logo-outter-wrapper">
            		<div class="logo-wrapper">
                		<!-- CSS LOGO --> 
                        <a href="index">
                    		<div class="css-logo rounded">
                   				<div class="css-logo-text">
                        			<strong>G</strong><i class="de-icon-heart-1"></i><strong>G</strong>
                    			</div>
                    		</div>
                        </a>
                    
                    	<!-- IMG LOGO 
                        <a href="index.html">
                    		<div class="img-logo">
                    			<img src="images/slide1.jpg">
                    		</div>
                        </a>
                        -->
                	</div>
                </div>
                <!-- END of LOGO -->
                        
				<!-- MENU ICON -->
				<div id="menu-icon" class="white">
					<a href="#" class="sb-toggle-left">
						<i class="de-icon-menu" style="background: #F0394D;"></i>
					</a>
				</div>
                
                <!-- RESET FLOAT -->        
				<div class="clearboth"></div>
                
                <!-- STICKY MENU ICON -->
               	<div id="sticky-menuicon">
                	<a href="#" class="sb-toggle-left">
                    	<i class="de-icon-menu" ></i>
                    </a>
            	</div>
                
            </nav>
           
        </header>
