{% include 'header.twig' %}
		<section id="content">
         <!-- CONTAINER-2 -->
           	<div class="container">
                <div class="row">                                            
              		<div class="col-md-offset-1 col-md-10">
                        
                        <!-- CONTAINER-FLUID -->
                        <div class="container-fluid">
                        
                        		<!-- GROOMSMEN -->
                            	<div class="row">
                                
                                	<!-- GROOMSMEN ITEM-1 -->
                                    <!-- =================================================================== -->
                                	<div class="groomsmen-wrapper col-sm-offset-2 col-md-offset-2 col-md-4 col-sm-4">
										
                                    	<!--PHOTO-ITEM-->
                        				<div id="mgeraldine" style="visibility: visible;" class="photo-item animation fadeIn animated">

										<!--PHOTO-->
                                			<img id="geraldine" src="images/maries/geraldine&0.jpg" alt="" class="hover-animation image-zoom-in">
                                            
                               				<!--PHOTO OVERLAY-->
                           					<div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                            				</div><!--END of PHOTO OVERLAY-->
                                				                                    
                                     		<!--ICON LINK-->
                                     		<div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                    			<div class="alignment">
                                    				<div class="v-align center-middle">
                                                
                                      				</div>
                                        		</div>
                                    		</div><!--END of ICON LINK-->
							
										</div><!--END of PHOTO-ITEM--> 
                                        
                                        <!-- END of TITLE & EXCERPT -->
                                         
                                    </div><!-- END of GROOMSMEN ITEM-1 -->
                                    
                                    
                                    <!-- GROOMSMEN ITEM-2 -->
                                    <!-- =================================================================== -->
                                	<div class="groomsmen-wrapper col-md-4 col-sm-4">
										
                                    	<!--PHOTO-ITEM-->
                        				<div id="mjoe" style="visibility: visible;" class="photo-item animation fadeIn animated">
								
                             				<!--PHOTO-->
                                			<img id="joe" src="images/maries/joe&0.jpg" alt="" class="hover-animation image-zoom-in">
                                            
                               				<!--PHOTO OVERLAY-->
                           					<div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                            				</div><!--END of PHOTO OVERLAY-->
                                				                                    
                                     		<!--ICON LINK-->
                                     		<div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                    			<div class="alignment">
                                    				<div class="v-align center-middle">
                                                           
                                      				</div>
                                        		</div>
                                    		</div><!--END of ICON LINK-->
							
										</div><!--END of PHOTO-ITEM--> 
                                        
                                        <!-- END of TITLE & EXCERPT -->
                                         
                                    </div><!-- END of GROOMSMEN ITEM-2 -->
									
									<div class="col-md-2 col-sm-2"></div>

           						</div> <!-- END of GROOMSMEN -->
                            
               			</div><!-- END of CONTAINER FLUID -->
                    
   					</div>                     
  				</div>                  
			</div><!-- END OF CONTAINER-2 -->
        	<!-- CONTAINER -->
			<div class="container">
            
            	<!-- SOCIAL NETWORK ICON-->
				<div class="row">
					<div class="col-md-12 text-center" style="padding-bottom:50px;">
                
                	</div>
                </div><!-- END of SOCIAL NETWORK ICON-->
                
                <!--TEXT SECTION-->
                <div class="row">
                	<div class="col-md-offset-1 col-md-5">
                    	<p>
                        	<strong>Géraldine :</strong> dit -Doudoune- ou -Didine- pour les intimes. </p>

						<p>Psychiatre de profession, on ne présente plus géraldine car celles et ceux qui la connaissent savent et ceux qui ne la connaissent pas ne sont pas invités.</p>
                    </div>
                    <div class="col-md-5">
                        <p>
                        	<strong>Joe :</strong> dit Geoffroy pour ceux qu'il n'aime pas.</p>

						<p>Entrepreneur par absence de compétence. On ne le présente plus car il suffit de lire la presse. </p>
                    </div>
				</div><!--END of TEXT SECTION-->
                
           	</div><!-- END of CONTAINER -->    
                        
        </section>
		
		<footer>
            <div class="image-divider fixed-height" style="background-image: url(images/bandeau/marie.jpg); background-attachment: fixed;" data-stellar-background-ratio="0.5">
                
                <div class="divider-overlay"></div>
                    
                <!-- Use Center Middle Alignment to align middle the content for fixed-height parallax -->
                <div class="alignment"> 
                   	<div class="v-align center-middle">                  	
                    
                    	<!-- HEART DIVIDER & COUPLE NAME -->
                    	<div class="container">                 	 
                    		<div class="row">
                        		<div class="col-md-12">
                                        
                        			<div style="visibility: visible;" class="heart-divider animation delay1 fadeInUp animated">
                        				<span class="white-line"></span>
                        				<i class="de-icon-heart pink-heart"></i>
                        				<i class="de-icon-heart white-heart"></i>
                        				<span class="white-line"></span>
                        			</div>
                                    
									<div style="visibility: visible;" id="footer-couple-name" class="animation delay1 fadeInUp animated">
                                		Géraldine &amp; Geoffroy
                                	</div>
                     
                     			</div>
                     		</div>
                     	</div><!-- END of HEART DIVIDER & COUPLE NAME -->
                     
                    </div>
				</div><!-- END of Center Middle Alignment -->
                    
			</div>
			<script src="js/ggjs/maries.js"></script> 
		</footer>
{% include 'footer.twig' %}