{% include 'header.twig' %}

        <!--CONTENT SECTION-->
        <section id="content">
        	
            <!-- CONTAINER-1 -->
        	<div class="container">            
            	
                <!-- TITLE -->
                <div class="row">
                    <div class="col-md-offset-3 col-md-6 text-center">
                    
                        <div class="page-title">
                        	<h1>Les témoins</h1>
                                                       
                        	<div class="heart-divider">
                            	<span class="grey-line"></span>
                            	<i class="de-icon-heart pink-heart"></i>
                            	<i class="de-icon-heart grey-heart"></i>
                            	<span class="grey-line"></span>
                        	</div>
                            <p>
                        		<!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis  -->
                       	 	</p>
						</div>
                        
                	</div>
				</div><!-- END of TITLE -->                
                
  			</div><!-- END of CONTAINER-1 -->
           
            
            <!-- CONTAINER-2 -->
           	<div class="container">
                <div class="row">                                            
              		<div class="col-md-offset-1 col-md-10">
                        
                        <!-- CONTAINER-FLUID -->
                        <div class="container-fluid">
                        
                        		<!-- GROOMSMEN -->
                            	<div class="row">
                                
                                	<!-- GROOMSMEN ITEM-1 -->
                                    <!-- =================================================================== -->
                                	<div class="groomsmen-wrapper col-md-offset-2 col-md-4 col-sm-4">
                                    
										<!-- TITLE & EXCERPT -->
                                        <div style="visibility: visible;" class="title-excerpt animation fadeIn text-center animated">
                                        	<h4><a href="#">- C'est qui ? -</a></h4>
                                            <p><strong>Sophie </strong>La grande soeur de Géraldine.
											<strong>Signe distinctif : </strong>The woman  man </p>
                                        </div>
										
                                    	<!--PHOTO-ITEM-->
                        				<div id="msophie" style="visibility: visible;" class="photo-item animation fadeIn animated">

										<!--PHOTO-->
                                			<img id="sophie" src="images/temoins/un&zero.jpg" alt="" class="hover-animation image-zoom-in">
                                            
                               				<!--PHOTO OVERLAY-->
                           					<div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                            				</div><!--END of PHOTO OVERLAY-->
                                				                                    
                                     		<!--ICON LINK-->
                                     		<div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                    			<div class="alignment">
                                    				<div class="v-align center-middle">
                                            
                                     					<span class="de-button outline medium">
                                                			Gant qui roule n'amasse pas mousse !
                                                		</span>
                                                
                                      				</div>
                                        		</div>
                                    		</div><!--END of ICON LINK-->
							
										</div><!--END of PHOTO-ITEM--> 
                                        
                                        <!-- END of TITLE & EXCERPT -->
                                         
                                    </div><!-- END of GROOMSMEN ITEM-1 -->
                                    
                                    
                                    <!-- GROOMSMEN ITEM-2 -->
                                    <!-- =================================================================== -->
                                	<div class="groomsmen-wrapper col-md-4 col-sm-4">
										
										<!-- TITLE & EXCERPT -->
                                        <div style="visibility: visible;" class="title-excerpt animation fadeIn text-center animated">
                                        	<h4><a href="#">- C'est qui ? -</a></h4>
                                            <p><strong>Adrien </strong>Le grand frère de Joe.
											<strong>Signe distinctif : </strong>The american guy</p>
                                        </div>
										
                                    	<!--PHOTO-ITEM-->
                        				<div id="mclement" style="visibility: visible;" class="photo-item animation fadeIn animated">
								
                             				<!--PHOTO-->
                                			<img id="clement" src="images/temoins/deux&zero.jpg" alt="" class="hover-animation image-zoom-in">
                                            
                               				<!--PHOTO OVERLAY-->
                           					<div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                            				</div><!--END of PHOTO OVERLAY-->
                                				                                    
                                     		<!--ICON LINK-->
                                     		<div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                    			<div class="alignment">
                                    				<div class="v-align center-middle">
                                            
                                     					<span class="de-button outline medium">
                                                			Un gant peut en cacher un autre !
                                                		</span>
                                                
                                      				</div>
                                        		</div>
                                    		</div><!--END of ICON LINK-->
							
										</div><!--END of PHOTO-ITEM--> 
                                        
                                        <!-- END of TITLE & EXCERPT -->
                                         
                                    </div><!-- END of GROOMSMEN ITEM-2 -->
									
									<div class="col-md-2 col-sm-2"></div>

									
                                    <!-- GROOMSMEN ITEM-3 -->
                                    <!-- =================================================================== -->
                                	<div class="groomsmen-wrapper col-md-offset-2 col-md-4 col-sm-4">
                                    
                                    	<!--PHOTO-ITEM-->
                        				<div id="mtodo" style="visibility: visible;" class="photo-item animation fadeIn animated">
								
                             				<!--PHOTO-->
                                			<img  id="todo" src="images/temoins/trois&zero.jpg" alt="" class="hover-animation image-zoom-in">
                                            
                               				<!--PHOTO OVERLAY-->
                           					<div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                            				</div><!--END of PHOTO OVERLAY-->
                                				                                    
                                     		<!--ICON LINK-->
                                     		<div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                    			<div class="alignment">
                                    				<div class="v-align center-middle">
                                            
                                     					<span class="de-button outline medium">
                                                			Rien ne sert de courir, il faut porter des gants !
                                                		</span>
                                                
                                      				</div>
                                        		</div>
                                    		</div><!--END of ICON LINK-->
							
										</div><!--END of PHOTO-ITEM--> 
                                        
                                        <!-- TITLE & EXCERPT -->
                                        <div style="visibility: visible;" class="title-excerpt animation fadeIn text-center animated">
                                        	<h4><a href="#">- C'est qui ? -</a></h4>
                                            <p><strong>Clem </strong>Le petit frère de Joe.
										    <strong>Signe distinctif : </strong>The sport man </p>
                                        </div>
                                        <!-- END of TITLE & EXCERPT -->
                                         
                                    </div><!-- END of GROOMSMEN ITEM-3 -->
                                    
                                    
                                    <!-- GROOMSMEN ITEM-4 -->
                                    <!-- =================================================================== -->
                                	<div class="groomsmen-wrapper col-md-4 col-sm-4">
                                    
                                    	<!--PHOTO-ITEM-->
                        				<div id="mludo" style="visibility: visible;" class="photo-item animation fadeIn animated">
								
                             				<!--PHOTO-->
                                			<img id="ludo" src="images/temoins/quatre&zero.jpg" alt="" class="hover-animation image-zoom-in">
                                            
                               				<!--PHOTO OVERLAY-->
                           					<div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                            				</div><!--END of PHOTO OVERLAY-->
                                				                                    
                                     		<!--ICON LINK-->
                                     		<div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                    			<div class="alignment">
                                    				<div class="v-align center-middle">
                                            
                                     					<span class="de-button outline medium">
                                                			Il pleut comme gant qui pisse
                                                		</span>
                                                
                                      				</div>
                                        		</div>
                                    		</div><!--END of ICON LINK-->
							
										</div><!--END of PHOTO-ITEM--> 
                                        
                                        <!-- TITLE & EXCERPT -->
                                        <div style="visibility: visible;" class="title-excerpt animation fadeIn text-center animated">
                                        	<h4><a href="#">- C'est qui ? -</a></h4>
                                            <p><strong>Ludo </strong>Le petit frère de Géraldine.
											<strong>Signe distinctif : </strong>The geek man</p>
                                        </div>
                                        <!-- END of TITLE & EXCERPT -->
                                         
                                    </div><!-- END of GROOMSMEN ITEM-4 -->
									
									<div class="col-md-2 col-sm-2"></div>

           						</div> <!-- END of GROOMSMEN -->
                            
               			</div><!-- END of CONTAINER FLUID -->
                    
   					</div>                     
  				</div>                  
			</div><!-- END OF CONTAINER-2 -->
            
        </section><!-- END OF CONTENT SECTION -->
        
        
        
       	<!-- FOOTER SECTION -->
		<footer>
            <div class="image-divider fixed-height" style="background-image: url(images/bandeau/temoins.jpg); background-attachment: fixed;" data-stellar-background-ratio="0.5">
                
                <div class="divider-overlay"></div>
                    
                <!-- Use Center Middle Alignment to align middle the content for fixed-height parallax -->
                <div class="alignment"> 
                   	<div class="v-align center-middle">                  	
                    
                    	<!-- HEART DIVIDER & COUPLE NAME -->
                    	<div class="container">                 	 
                    		<div class="row">
                        		<div class="col-md-12">
                                        
                        			<div style="visibility: visible;" class="heart-divider animation delay1 fadeInUp animated">
                        				<span class="white-line"></span>
                        				<i class="de-icon-heart pink-heart"></i>
                        				<i class="de-icon-heart white-heart"></i>
                        				<span class="white-line"></span>
                        			</div>
                                    
									
                     
                     			</div>
                     		</div>
                     	</div><!-- END of HEART DIVIDER & COUPLE NAME -->
                     
                    </div>
				</div><!-- END of Center Middle Alignment -->
                    
			</div>
		</footer><!-- END of FOOTER SECTION -->
		
		<!-- JS perso -->
		<script src="js/ggjs/temoins.js"></script> 
{% include 'footer.twig' %}