{% include 'header.twig' %}

<!-- MAIN SLIDER -->
<section id="main-slider" class="fixed-height">      	

    <!-- MAIN SLIDER TITLE OUTTER WRAPPER -->
    <div class="slide-title-outter-wrapper">

        <!-- MAIN SLIDER TITLE INNER WRAPPER -->
        <div class="slide-title-inner-wrapper">

            <!-- TITLE 1  -->
            <div class="slide-title align-bottom">

                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">

                            <div class="page-title animation fadeInUp">
                                <h1>K'DO</h1>

                                <div class="heart-divider">
                                    <span class="white-line"></span>
                                    <i class="de-icon-heart pink-heart"></i>
                                    <i class="de-icon-heart white-heart"></i>
                                    <span class="white-line"></span>
                                </div>
                                <a href="#content" class="smooth-scroll">                                        	
                                    <i class="de-icon-down-open-big" style="font-size:40px; color:#FFF"></i>                                            
                                </a>

                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div><!-- END of MAIN SLIDER TITLE INNER WRAPPER -->

    </div> <!-- END of MAIN SLIDER TITLE OUTTER WRAPPER -->

    <!-- MAIN SLIDER IMAGES -->            
    <div class="slides">
        <!-- SLIDE IMAGE -->
        <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(images/modifs/merci.jpg);">
        </div>

        <div class="slide-overlay"> </div>    
    </div>	<!-- END of MAIN SLIDER IMAGES -->

</section><!-- ENF of MAIN SLIDER -->

<!--CONTENT SECTION-->
<section id="content">

    <!-- CONTAINER -->
    <div class="container">

        <!-- ROW-1 -->
        <div class="row">
            <div class="col-md-offset-1 col-md-10">

                <!-- GIFT REGISTRY CAROUSEL -->
                <div id="gift-registry" class="owl-carousel">

                    <!-- ITEM-1 -->
                    <div class="item">

                        <!--PHOTO-ITEM-->
                        <div class="photo-item animation fadeIn">

                            <!--PHOTO-->
                            <img src="images/simple/v1.jpg" alt="" class="with-border">

                        </div><!--END of PHOTO-ITEM--> 

                    </div> <!-- END of ITEM-1 -->
					
					 <!-- ITEM-2 -->
                    <div class="item">

                        <!--PHOTO-ITEM-->
                        <div class="photo-item animation fadeIn">

                            <!--PHOTO-->
                            <img src="images/simple/v2.jpg" alt="" class="with-border">

                        </div><!--END of PHOTO-ITEM--> 

                    </div> <!-- END of ITEM-2 -->
					
					 <!-- ITEM-3 -->
                    <div class="item">

                        <!--PHOTO-ITEM-->
                        <div class="photo-item animation fadeIn">

                            <!--PHOTO-->
                            <img src="images/simple/v3.jpg" alt="" class="with-border">

                        </div><!--END of PHOTO-ITEM--> 

                    </div> <!-- END of ITEM-3 -->
					
					 <!-- ITEM-4 -->
                    <div class="item">

                        <!--PHOTO-ITEM-->
                        <div class="photo-item animation fadeIn">

                            <!--PHOTO-->
                            <img src="images/simple/v4.jpg" alt="" class="with-border">

                        </div><!--END of PHOTO-ITEM--> 

                    </div> <!-- END of ITEM-4 -->
					
					 <!-- ITEM-5 -->
                    <div class="item">

                        <!--PHOTO-ITEM-->
                        <div class="photo-item animation fadeIn">

                            <!--PHOTO-->
                            <img src="images/simple/v5.jpg" alt="" class="with-border">

                        </div><!--END of PHOTO-ITEM--> 

                    </div> <!-- END of ITEM-5 -->
					
					 <!-- ITEM-6 -->
                    <div class="item">

                        <!--PHOTO-ITEM-->
                        <div class="photo-item animation fadeIn">

                            <!--PHOTO-->
                            <img src="images/simple/v6.jpg" alt="" class="with-border">

                        </div><!--END of PHOTO-ITEM--> 

                    </div> <!-- END of ITEM-6 -->
					
					 <!-- ITEM-7 -->
                    <div class="item">

                        <!--PHOTO-ITEM-->
                        <div class="photo-item animation fadeIn">

                            <!--PHOTO-->
                            <img src="images/simple/v7.jpg" alt="" class="with-border">

                        </div><!--END of PHOTO-ITEM--> 

                    </div> <!-- END of ITEM-7 -->
					
					 <!-- ITEM-8 -->
                    <div class="item">

                        <!--PHOTO-ITEM-->
                        <div class="photo-item animation fadeIn">

                            <!--PHOTO-->
                            <img src="images/simple/v8.jpg" alt="" class="with-border">

                        </div><!--END of PHOTO-ITEM--> 

                    </div> <!-- END of ITEM-8 -->
					
					 <!-- ITEM-9 -->
                    <div class="item">

                        <!--PHOTO-ITEM-->
                        <div class="photo-item animation fadeIn">

                            <!--PHOTO-->
                            <img src="images/simple/v9.jpg" alt="" class="with-border">

                        </div><!--END of PHOTO-ITEM--> 

                    </div> <!-- END of ITEM-9 -->



                </div> <!-- END of GIFT REGISTRY CAROUSEL -->

            </div>
        </div><!--END of ROW-1-->


        <!-- ROW-2 -->
        <div class="row" style="padding-top:70px">
            <div class="col-md-offset-2 col-md-8 text-center animation fadeIn">
                <h2>	</h2>
				<p class="blurb"> 
					<strong>Pendant le mariage a eu lieu un vote démocratique, sympathique et populaire. Vous avez eu à choisir parmi trois destinations :  </strong>
				</p>
				<p class="blurb"> 
					Après vérification par un huissier assermenté et perspicace, voici enfin les résultats du vote ! 
				</p>
						<div class="row">
										<!--PHOTO-ITEM-->
								<div class="photo-item animation fadeIn animated" style="visibility: visible;">
												<!--PHOTO-->
									<img src="images/modifs/resultatvote.jpg" alt="" class="hover-animation image-zoom-in">
															<!--PHOTO OVERLAY-->
									<div class="layer wh100 hidden-black-overlay hover-animation fade-in">
									</div><!--END of PHOTO OVERLAY-->
								</div><!-- END of PHOTO ITEM -->
						</div>
				
				<h2>  Grand nord nous voilà !   </h2>
				
				<p class="blurb"> 
					Un immense merci au votant. Ce fût, nous le savons, un choix difficile à faire mais vous avez su vous dépasser et faire votre choix en âme et conscience.
				</p>
				<p class="blurb"> 
					Bravo, félicitations et encore mille merci !  
				</p>
                <div class="heart-divider">
                    <span class="grey-line"></span>
                    <i class="de-icon-heart pink-heart"></i>
                    <i class="de-icon-heart grey-heart"></i>
                    <span class="grey-line"></span>
                </div>
            </div>


    </div> <!-- END of CONTAINER -->

</section> <!--END of CONTENT SECTION--> 

<!-- FOOTER SECTION -->
<footer>
    <div class="image-divider fixed-height" style="background-image:url(images/modifs/ours_polaire_big.jpg); height:400px" data-stellar-background-ratio="0.5" >

        <div class="divider-overlay"></div>

        <!-- Use Center Middle Alignment to align middle the content for fixed-height parallax -->
        <div class="alignment"> 
            <div class="v-align center-middle">                  	

                <!-- HEART DIVIDER & COUPLE NAME -->
                <div class="container">                 	 
                    <div class="row">
                        <div class="col-md-12">

                            <div class="heart-divider animation delay1 fadeInUp">
                                <span class="white-line"></span>
                                <i class="de-icon-heart pink-heart"></i>
                                <i class="de-icon-heart white-heart"></i>
                                <span class="white-line"></span>
                            </div>

                            <div id="footer-couple-name" class="animation delay1 fadeInUp">
                                Géraldine & Geoffroy
                            </div>

                        </div>
                    </div>
                </div><!-- END of HEART DIVIDER & COUPLE NAME -->

            </div>
        </div><!-- END of Center Middle Alignment -->

    </div>
</footer><!-- END of FOOTER SECTION -->

{% include 'footer.twig' %}